.register{
    height: 100vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        display: flex;
        background-color: white;
        border-radius: 10px;
        width: 60%;
        min-height: 400px;
        overflow: hidden;
        flex-direction: row-reverse;

        .left{
            flex: 1;
            background: rgb(131,58,180);
            background: url("../../images/log.jpg") center;
            background-size: cover;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 90px;
                line-height: 100px;
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color:rebeccapurple;
                font-weight: bold;
                cursor: pointer;                
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                select {
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: 200px;
                    option {
                        background-color: #f0f0f0;
                        font-size: 14px;
                    }
                }
                label {
                    font-weight: bold;
                }
               
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: purple;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}